<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="cs">
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Invoice</title>
	</head>
	<body>
	<nav th:replace="fragments/headers :: nav"></nav>
		<h1 th:text="'Invoice '+${invoice.orderNumber}"></h1>
		
		<p  class="error" th:text=${error}></p>
		
		<form action="#" th:action="@{/editinvoice}" th:object="${invoice}" method="post">
			<table class="invoice">
			<tr>
				<td><input type="hidden" th:field="*{id}"></td>
				<td><input type="hidden" th:field="*{orderNumber}"></td>
				<td><input type="hidden" th:field="*{canceled}"></td>
			</tr>
			<tr>
			
				<td><label  for="received">1st Company is receiving: </label></td>
				<td sec:authorize="hasRole('ACCOUNTANT')"><input  type="checkbox" th:field="*{received}" name="received" id="received"></td>
				<td sec:authorize="hasAnyRole('SECRETARY', 'ADMIN','USER')"><input disabled type="checkbox" th:field="*{received}" name="received" id="received"></td>
			
			</tr>
			<tr sec:authorize="hasRole('ACCOUNTANT')">
				<td><label for="Company1">1st Company <span class="required">*</span></label></td>
				<td><select name="company1" id="company1">
            		<option th:each="company1 : ${companies}" th:selected="${company1.name==invoice.companyName1}"
                    th:value="${{company1}}"
                    th:text="${company1.name}"></option>
        			</select>
        		</td>
			</tr>
			<tr sec:authorize="hasAnyRole('SECRETARY', 'ADMIN','USER')">
				<td><label for="Company1">1st Company</label></td>
				<td><select name="company1" id="company1" disabled>
            		<option th:each="company1 : ${companies}" th:selected="${company1.name==invoice.companyName1}"
                    th:value="${{company1}}"
                    th:text="${company1.name}">
            		</option>
        			</select>
        		</td>
			</tr>
			<tr sec:authorize="hasRole('ACCOUNTANT')">
				<td><label for="Company2">2nd Company <span class="required">*</span></label></td>
				<td><select name="company2" id="company2">
            		<option th:each="company2 : ${companies}" th:selected="${company2.name==invoice.companyName2}"
                    th:value="${{company2}}"
                    th:text="${company2.name}">
            		</option>
        			</select>
        		</td>
			</tr>
			<tr sec:authorize="hasAnyRole('SECRETARY', 'ADMIN','USER')">
				<td><label for="Company2">2nd Company</label></td>
				<td><select name="company2" id="company2" disabled>
            		<option th:each="company2 : ${companies}" th:selected="${company2.name==invoice.companyName2}"
                    th:value="${{company2}}"
                    th:text="${company2.name}">
            		</option>
        			</select>
        		</td>
			</tr>

			<tr>
				<!---<th>Index</th>-->
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<!---<th>Total</th>-->
				<th sec:authorize="hasRole('ACCOUNTANT')">Remove</th>
			</tr>
                <tr sec:authorize="hasRole('ACCOUNTANT')">
                  <th>Commodity:</th>
                  <th colspan="2"><select name="selected" id="selected">
            		<option th:each="commodity : ${commodities}"
                    th:value="${{commodity}}"
                    th:text="${commodity.name}">
            		</option>
        			</select>
        		  </th>
                  <th>
                    <input type="submit" class="btn" Value="AddRow" name="addRow">
                  </th>
                </tr>
                
                <tr sec:authorize="hasRole('ACCOUNTANT')" th:each="row,rowStat : *{Commodities}" >
                  <!---<td th:text="${rowStat.count}">1</td>-->
                  <td>
                    <input type="text" class="long" th:field="*{Commodities[__${rowStat.index}__].commodityName}">
                  </td>
                  <td>
                    <input type="number"  th:field="*{Commodities[__${rowStat.index}__].price}" />
                  </td>
                  <td>
                    <input type="number"  th:field="*{Commodities[__${rowStat.index}__].quantity}" />
                  </td>
                  <td>
                    <button type="submit" class="btn" name="removeRow" th:text="'RemoveRow'" th:value="${rowStat.index}" >RemoveRow</button>
                  </td>
                </tr>
                
                <tr sec:authorize="hasAnyRole('SECRETARY', 'ADMIN','USER')" th:each="row,rowStat : *{Commodities}" >
                  <!---<td th:text="${rowStat.count}">1</td>-->
                  <td>
                    <label for="name" th:text="*{Commodities[__${rowStat.index}__].commodityName}"></label>
                  </td>
                  <td>
                    <label for="number" th:text="*{Commodities[__${rowStat.index}__].price}" /></label>
                  </td>
                  <td>
                    <label for="number" th:text="*{Commodities[__${rowStat.index}__].quantity}" /></label>
                  </td>
                </tr>



			<tr>
				<td><label for="content">Description: </label></td>
				<td colspan="4" sec:authorize="hasRole('ACCOUNTANT')"><textarea th:field="*{content}" name="content" id="content" ></textarea></td>
				<td colspan="4" sec:authorize="hasAnyRole('SECRETARY', 'ADMIN','USER')"><textarea disabled th:field="*{content}" name="content" id="content" ></textarea></td>
			</tr>
			<tr>
				<td><label  for="total">Total price: </label></td>
				<td><span th:text="${invoice.fullPrice}+' CZK'"></span></td>
			</tr>
			
			<tr>
				<td><label  for="date">Created: </label></td>
				<td sec:authorize="hasRole('ACCOUNTANT')" colspan="2"><input type="date" th:field="*{timeCreated}"/></td>
				<td sec:authorize="hasAnyRole('SECRETARY', 'ADMIN','USER')" colspan="3"><input disabled type="date" th:field="*{timeCreated}"/></td>
			</tr>
			<tr>
				<td><label  for="date">Completed: </label></td>
				<td sec:authorize="hasRole('ACCOUNTANT')" colspan="2"><input type="date" th:field="*{timeCompleted}"/></td>
				<td sec:authorize="hasAnyRole('SECRETARY', 'ADMIN','USER')" colspan="3"><input disabled type="date" th:field="*{timeCompleted}"/></td>
			</tr>
			<tr>
				<td><label  for="text">Canceled: </label></td>
				<td sec:authorize="hasRole('ACCOUNTANT')" th:if= "${invoice.canceled == false}"><input  type="checkbox" th:field="*{canceled}" name="storn"></td>
				<td sec:authorize="hasRole('ACCOUNTANT')" th:if= "${invoice.canceled != false}"><input disabled type="checkbox" th:field="*{canceled}" name="storn"></td>
				<td sec:authorize="hasAnyRole('SECRETARY', 'ADMIN','USER')"><input disabled  type="checkbox" th:field="*{canceled}"></td>
			</tr>

			<tr sec:authorize="hasRole('ACCOUNTANT')">
				<td colspan="2"><p><span class="required">*</span>Required field</p></td>
			</tr>
			<tr sec:authorize="hasRole('ACCOUNTANT')">
				<td colspan="2"><input type="submit" name="edit" class="btn" value="Edit" /></td>
			</tr>
			</table>
		</form>
	</body>
</html>
