<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="cs">
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>User</title>
	</head>
	<body>
	<nav th:replace="fragments/headers :: nav"></nav>
		<h1 th:text="'User '+${user.username}"></h1>
		
		<p th:if="${param.error}" class="error">There already is user with this username!</p>
		<p  class="error" th:text=${error}></p>
		<p  class="suc" th:text=${suc}></p>
		
		<form th:action="@{/edituser}" th:object="${user}" method="post">
		<div>
				<input type="hidden" value="${user.id}" th:field="*{id}" name="id" id="id" />
			</div>
			<table>
			<tr sec:authorize="hasRole('ADMIN')"><td colspan="3">
			<select class="form-control" th:field="*{roles}" multiple="multiple">
    		<option th:each="role : ${allRoles}"
            th:field="*{roles}"
            th:value="${{role}}"
            th:text="${role.name}">Role: </option>
			</select></td>
			</tr>

			<tr sec:authorize="hasAnyRole('USER', 'SECRETARY', 'ACCOUNTANT')"><td colspan="3">
			<select class="form-control" th:field="*{roles}" multiple="multiple" disabled>
    		<option th:each="role : ${allRoles}"
            th:field="*{roles}"
            th:value="${{role}}"
            th:text="${role.name}">Role: </option>
			</select></td>
			</tr>
			
			<tr>
			
				<td><label for="email">E-mail: </label></td>
				<td><label for="email" th:text="${user.email}"></label></td>
				<td><input sec:authorize="hasRole('ADMIN')" type="email" th:field="*{email}" value="${user.email}" name="email" id="email" /></td>
			
			</tr>
			<tr>
			
				<td><label for="username">Username: <span class="required">*</span></label></td>
				<td><label for="username" th:text="${user.username}"></label></td>
				<td><input sec:authorize="hasRole('ADMIN')" type="text" value="${user.username}" th:field="*{username}" name="username" id="username" /></td>
			
			</tr>
			<tr sec:authorize="hasAnyRole('USER', 'SECRETARY', 'ACCOUNTANT')">
			
				<td colspan="1"><input  type="hidden" th:value="${user.username}" name="usernameOld" id="usernameOld" /></td>
				<td colspan="1"><input  type="hidden" value="${user.id}" name="id" id="id" /></td>
			
			</tr>
			<tr sec:authorize="hasAnyRole('USER', 'SECRETARY', 'ACCOUNTANT')">
			
				<td><label for="password">Password: <span class="required">*</span></label></td>
				<td></td>
				<td colspan="1"><input  type="password" name="passwordOld" id="passwordOld" /></td>
			
			</tr>
			<tr>
			
				<td><label for="password">New Password: <span class="required">*</span></label></td>
				<td></td>
				<td colspan="1"><input sec:authorize="isAuthenticated()" type="password" th:field="*{password}" name="password" id="password1" /></td>
			
			</tr>
			<tr>
			
				<td><label for="password">New Password: <span class="required">*</span></label></td>
				<td></td>
				<td colspan="1"><input sec:authorize="isAuthenticated()" type="password"  name="password2" id="password2" /></td>
			
			</tr>
			<tr>
				<td colspan="2"><p><span class="required">*</span>Required field</p></td>
			</tr>
			<tr sec:authorize="hasRole('ADMIN')">
			
				<td><label  for="password">Remove user: </label></td>
				<td><input  type="checkbox" name="delete"></td>
			
			</tr>
			
			<tr sec:authorize="hasAnyRole('USER', 'SECRETARY', 'ACCOUNTANT')">
				<td colspan="3"><input  name="change" id="change" class="btn" type="submit" value="Change password" /></td>
			</tr>
			
			<tr sec:authorize="hasRole('ADMIN')">
				<td colspan="3"><input  name="edit" id="edit" class="btn" type="submit" value="Edit User" /></td>
			</tr>
			</table>
		</form>
	</body>
</html>
